__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

*$py.class

.venv/
venv/
env/
ENV/
.python-version
.conda/

build/
dist/
wheels/
pip-wheel-metadata/
*.egg-info/
.eggs/
*.egg
.installed.cfg

.pytest_cache/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
htmlcov/

.mypy_cache/
.pytype/
.pyrightcache/
.ruff_cache/

.ipynb_checkpoints/

.idea/
*.iml
.vscode/

.DS_Store
**__pycache__**
.env
Thumbs.db

*.log
logs/

.env
.env.*
*.env

.tox/
.nox/

*.swp
*.swo

runlogs/*
.deepeval
